.habits-container{
    display: flex;
    justify-content: center;
}
.plus-button{
  background-color: transparent;
  border: none;
  padding: 0;
  border-radius: 50%; /* Makes the button circular */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none; /* Remove the default button outline */
}
.plus-icon {
    /* Example: add a hover effect */
    padding: 10px
  }
  
  .adding-habits-container{
    display: flex;
    justify-content: center;
  }